.bg {
  margin: 20px;
}

.rbg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px;
}

.bg1 {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
}
.imgbg {
  width: 500px;
}
